body{
	background-color: black;
	color: white;
}
h1{
	text-align: center;
	background-color: #faa;
	border-radius: 10px;
}
strong{
	font-size: 23px;
}
.presp{
	margin-left: 40px;
}

.questions{
    margin-left: 40px;

}
.code{
    margin-left: 80px; 
}
h2{
    margin-left: 20px;
}
h3{
    margin-left: 40px;
}